<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XSS</title>
</head>
<body>
    <main>
        <div class="main_container">
            <h1>XSS_test</h1>
            <form action="/" method="post">
                <input type="text" name="name" id="id">
                <button>送信</button>
            </form>
            <form action="/xss_lv1" method="get">
                <a href="xss_lv1.html">Lv.1</a>
            </form>

            <form action="/xss_lv2" method="get">
                <a href="xss_lv2.html">Lv.2</a>
            </form>

        </div>

    </main>
</body>
</html>